@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Rubik:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,700");
.gradient-orange, #landing-mobile #buscador {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff9900+0,ec4e21+100 */
  background: #ff9900;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #ff9900 0%, #ec4e21 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #ff9900 0%, #ec4e21 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #ff9900 0%, #ec4e21 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9900', endColorstr='#ec4e21',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

.gradient-blue, #landing2 .landing-header, #wizard-intro {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3c6997+0,094074+100 */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#007da7+0,094074+100 */
  background: #007da7;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #007da7 0%, #094074 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #007da7 0%, #094074 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #007da7 0%, #094074 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007da7', endColorstr='#094074',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

.gradient-gray, #landing-mobile .como-funciona {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#555555+0,222222+100 */
  background: #555555;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #555555 0%, #222222 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #555555 0%, #222222 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #555555 0%, #222222 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555555', endColorstr='#222222',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

#landing, html {
  height: 100%;
  font-family: Rubik; }
  #landing .landing, html .landing {
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    #landing .landing header, html .landing header {
      position: fixed;
      width: 100%;
      top: 0;
      text-align: center;
      padding: 15px 0 5px;
      background: white;
      z-index: 999;
      left: 0; }
      #landing .landing header .transparencia, html .landing header .transparencia {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100 */
        background: -moz-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
        /* IE6-9 */
        position: absolute;
        width: 100%;
        top: 100px;
        height: 50px;
        z-index: 999; }
      #landing .landing header img, html .landing header img {
        max-width: 100px; }
      #landing .landing header h1, html .landing header h1 {
        font-size: 16px;
        margin: 5px 0; }
    #landing .landing #areas-ofertas, html .landing #areas-ofertas {
      position: relative;
      padding-top: 100px; }
      #landing .landing #areas-ofertas h3, html .landing #areas-ofertas h3 {
        font-weight: 500;
        font-size: 17px;
        margin-bottom: 20px; }
      #landing .landing #areas-ofertas .wrapper, html .landing #areas-ofertas .wrapper {
        height: 100%;
        overflow-y: scroll; }
      #landing .landing #areas-ofertas ul, html .landing #areas-ofertas ul {
        list-style: none;
        padding: 0; }
        #landing .landing #areas-ofertas ul li, html .landing #areas-ofertas ul li {
          margin: 10px 0; }
          #landing .landing #areas-ofertas ul li h2, html .landing #areas-ofertas ul li h2 {
            font-size: 15px;
            margin: 5px 0;
            font-weight: 400; }
            #landing .landing #areas-ofertas ul li h2 strong, html .landing #areas-ofertas ul li h2 strong {
              display: none; }
            #landing .landing #areas-ofertas ul li h2 span, html .landing #areas-ofertas ul li h2 span {
              border: 1px solid blue;
              padding: 2px 3px;
              margin-left: 5px;
              display: inline-block;
              border-radius: 2px;
              font-weight: 300;
              font-size: 12px; }
    #landing .landing #create-account, html .landing #create-account {
      text-align: center;
      position: fixed;
      width: 100%;
      bottom: 0;
      background: white;
      left: 0; }
      #landing .landing #create-account h2, html .landing #create-account h2 {
        font-size: 14px;
        text-transform: uppercase; }
      #landing .landing #create-account .elegi, html .landing #create-account .elegi {
        margin: 0;
        display: flex;
        flex: 1; }
        #landing .landing #create-account .elegi:after, #landing .landing #create-account .elegi:before, html .landing #create-account .elegi:after, html .landing #create-account .elegi:before {
          flex: 1;
          content: "";
          display: block;
          height: 1px;
          background: #777;
          position: relative;
          top: 9px;
          margin: 0 10px; }
      #landing .landing #create-account .create-account, html .landing #create-account .create-account {
        list-style: none;
        padding: 0;
        max-width: 500px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center; }
        #landing .landing #create-account .create-account li, html .landing #create-account .create-account li {
          max-width: 290px;
          min-width: 290px;
          flex: 1;
          padding: 5px 0;
          align-items: stretch; }
          #landing .landing #create-account .create-account li article, html .landing #create-account .create-account li article {
            padding: 5px 10px;
            border: 1px solid white;
            height: 100%;
            color: white;
            background: orange; }
            #landing .landing #create-account .create-account li article h3, html .landing #create-account .create-account li article h3 {
              font-size: 15px;
              margin: 0 0 5px 0; }
            #landing .landing #create-account .create-account li article p, html .landing #create-account .create-account li article p {
              margin: 0;
              font-size: 11px; }
      #landing .landing #create-account .access-menu, html .landing #create-account .access-menu {
        display: flex;
        padding: 0;
        list-style: none;
        flex-wrap: nowrap;
        justify-content: center; }
        #landing .landing #create-account .access-menu li span, html .landing #create-account .access-menu li span {
          font-size: 13px;
          text-decoration: underline;
          padding: 0 5px; }
    #landing .landing .transparencia, html .landing .transparencia {
      position: absolute;
      width: 100%;
      top: -150px;
      height: 150px;
      z-index: 999;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
      /* IE6-9 */ }
  #landing .info-container, html .info-container {
    padding-bottom: 200px; }

#landing2 {
  font-family: "Roboto"; }
  #landing2 h1, #landing2 h2, #landing2 h3, #landing2 h4, #landing2 h5, #landing2 h6 {
    font-family: "Rubik"; }
  #landing2 nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 30px;
    background: #FF8103;
    z-index: 999; }
    #landing2 nav ul {
      list-style: none;
      padding: 0;
      display: flex;
      margin: 0;
      justify-content: flex-end; }
      #landing2 nav ul li {
        color: white;
        padding: 0 20px;
        text-transform: uppercase;
        font-weight: 400;
        text-decoration: underline; }
  #landing2 .landing-header {
    padding: 100px 0; }
    #landing2 .landing-header .logo {
      max-width: 150px; }
    #landing2 .landing-header h1, #landing2 .landing-header h2 {
      color: white; }
    #landing2 .landing-header .divider {
      width: 100px;
      height: 4px;
      background: white; }
    #landing2 .landing-header h1 {
      text-transform: uppercase;
      font-size: 40px; }
      #landing2 .landing-header h1 strong {
        font-weight: 700; }
  #landing2 .create-account-box {
    position: fixed;
    top: 100px;
    right: 30px;
    width: 100%;
    max-width: 350px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px; }
    #landing2 .create-account-box h5 {
      text-transform: uppercase;
      font-weight: 700;
      margin: 0 0 20px 0;
      font-size: 25px;
      text-align: center; }
      #landing2 .create-account-box h5 span {
        font-size: 20px;
        font-weight: 400;
        display: block; }
    #landing2 .create-account-box .social-login {
      list-style: none;
      display: flex;
      padding: 0;
      justify-content: center; }
      #landing2 .create-account-box .social-login li {
        color: white;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin: 0 10px; }
        #landing2 .create-account-box .social-login li ion-icon {
          font-size: 20px; }
        #landing2 .create-account-box .social-login li.facebook {
          background: #3b5998; }
        #landing2 .create-account-box .social-login li.google {
          background: #dd4b39; }
        #landing2 .create-account-box .social-login li.linkedin {
          background: #007bb5; }
    #landing2 .create-account-box .email-login .title {
      display: block;
      color: #777;
      text-align: left;
      margin-bottom: 10px; }
      #landing2 .create-account-box .email-login .title ion-icon {
        font-size: 15px;
        margin-right: 5px; }
      #landing2 .create-account-box .email-login .title span {
        position: relative;
        top: -2px; }
    #landing2 .create-account-box .email-login input {
      font-weight: 300; }
  #landing2 .contenedor {
    margin: 0 30px;
    padding-right: 400px; }
  #landing2 section {
    padding: 50px 0; }
  #landing2 .datos h2 {
    font-size: 20px; }
  #landing2 .datos .empresas {
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center; }
    #landing2 .datos .empresas li {
      flex: 1;
      max-width: 140px;
      padding: 0 5px;
      max-height: 60px; }
  #landing2 .como-funciona {
    background: #444; }
    #landing2 .como-funciona h2 {
      color: white;
      margin-bottom: 30px;
      text-transform: uppercase; }
  #landing2 #ofertas-por-area .categorias {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap; }
    #landing2 #ofertas-por-area .categorias li {
      flex: 1;
      min-width: 400px; }
    #landing2 #ofertas-por-area .categorias h2 {
      font-size: 18px;
      font-weight: 300;
      color: #333; }
      #landing2 #ofertas-por-area .categorias h2 small {
        font-size: 14px;
        color: white;
        background: #FF8103;
        display: inline-block;
        padding: 5px 10px;
        border-radius: 3px; }
  #landing2 .video {
    max-width: 500px; }

#landing-mobile {
  font-family: "Roboto";
  padding-bottom: 160px; }
  #landing-mobile h1, #landing-mobile h2, #landing-mobile h3, #landing-mobile h4, #landing-mobile h5, #landing-mobile h6 {
    font-family: "Rubik"; }
  #landing-mobile .create-account-box {
    position: fixed;
    bottom: -520px;
    width: 100%;
    margin: auto;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    transition: 1s;
    z-index: 9999;
    color: white; }
    #landing-mobile .create-account-box.mostrar {
      bottom: -320px; }
    #landing-mobile .create-account-box.abrir {
      bottom: 0px; }
    #landing-mobile .create-account-box h5 {
      text-transform: uppercase;
      font-weight: 700;
      margin: 0 0 20px 0;
      font-size: 16px;
      text-align: center; }
      #landing-mobile .create-account-box h5 span {
        font-size: 16px;
        font-weight: 400;
        margin-top: 5px; }
    #landing-mobile .create-account-box .login {
      color: white;
      margin-top: 10px; }
      #landing-mobile .create-account-box .login a {
        color: white;
        text-decoration: underline; }
    #landing-mobile .create-account-box .cerrar {
      position: absolute;
      top: 10px;
      right: 10px; }
    #landing-mobile .create-account-box .social-login {
      list-style: none;
      display: flex;
      padding: 0;
      justify-content: center; }
      #landing-mobile .create-account-box .social-login li {
        color: white;
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin: 0 10px; }
        #landing-mobile .create-account-box .social-login li ion-icon {
          font-size: 25px; }
        #landing-mobile .create-account-box .social-login li.facebook {
          background: #3b5998; }
        #landing-mobile .create-account-box .social-login li.google {
          background: #dd4b39; }
        #landing-mobile .create-account-box .social-login li.linkedin {
          background: #007bb5; }
    #landing-mobile .create-account-box .email {
      padding: 5px 10px;
      border: 1px solid #777;
      border-radius: 50px;
      display: inline-block; }
    #landing-mobile .create-account-box .email-login .title {
      display: block;
      color: white;
      text-align: left;
      margin-bottom: 10px; }
      #landing-mobile .create-account-box .email-login .title ion-icon {
        font-size: 15px;
        margin-right: 5px; }
      #landing-mobile .create-account-box .email-login .title span {
        position: relative;
        top: -2px; }
    #landing-mobile .create-account-box .email-login input {
      font-weight: 300; }
    @media (min-width: 1000px) {
      #landing-mobile .create-account-box {
        bottom: auto !important;
        position: fixed;
        width: 330px;
        top: 20px;
        right: 20px;
        padding-bottom: 0;
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 3px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        color: #333; }
        #landing-mobile .create-account-box h5 {
          font-size: 20px; }
          #landing-mobile .create-account-box h5 span {
            font-size: 20px;
            display: block; }
        #landing-mobile .create-account-box .crear-mail {
          display: none; }
        #landing-mobile .create-account-box .email-login .title {
          color: #333; }
        #landing-mobile .create-account-box .login {
          color: #333;
          margin-top: 10px; }
          #landing-mobile .create-account-box .login a {
            color: #333;
            text-decoration: underline; } }
  #landing-mobile nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 30px;
    background: #FF8103;
    z-index: 999; }
    #landing-mobile nav ul {
      list-style: none;
      padding: 0;
      display: flex;
      margin: 0;
      justify-content: flex-end; }
      #landing-mobile nav ul li {
        color: white;
        padding: 0 20px;
        text-transform: uppercase;
        font-weight: 400;
        text-decoration: underline; }
  #landing-mobile .create-account {
    z-index: 999;
    position: relative;
    width: 100%;
    max-width: 360px;
    margin: auto;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 10px; }
    #landing-mobile .create-account h5 {
      text-transform: uppercase;
      font-weight: 700;
      margin: 0 0 20px 0;
      font-size: 16px;
      text-align: center;
      color: white; }
      #landing-mobile .create-account h5 span {
        font-size: 16px;
        font-weight: 400;
        margin-top: 5px;
        display: block; }
    #landing-mobile .create-account .social-login {
      list-style: none;
      display: flex;
      padding: 0;
      justify-content: center; }
      #landing-mobile .create-account .social-login li {
        color: white;
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin: 0 10px; }
        #landing-mobile .create-account .social-login li ion-icon {
          font-size: 25px; }
        #landing-mobile .create-account .social-login li.facebook {
          background: #3b5998; }
        #landing-mobile .create-account .social-login li.google {
          background: #dd4b39; }
        #landing-mobile .create-account .social-login li.linkedin {
          background: #007bb5; }
    #landing-mobile .create-account .email {
      padding: 5px 10px;
      border: 1px solid white;
      border-radius: 50px;
      display: inline-block;
      color: white; }
    #landing-mobile .create-account .email-login .title {
      display: block;
      color: #777;
      text-align: left;
      margin-bottom: 10px; }
      #landing-mobile .create-account .email-login .title ion-icon {
        font-size: 15px;
        margin-right: 5px; }
      #landing-mobile .create-account .email-login .title span {
        position: relative;
        top: -2px; }
    #landing-mobile .create-account .email-login input {
      font-weight: 300; }
    #landing-mobile .create-account .login {
      color: white;
      margin-top: 10px; }
      #landing-mobile .create-account .login a {
        color: white;
        text-decoration: underline; }
    @media (min-width: 500px) {
      #landing-mobile .create-account {
        max-width: 420px; }
        #landing-mobile .create-account h5 {
          font-size: 18px; }
          #landing-mobile .create-account h5 span {
            display: inline-block;
            font-size: 18px; } }
    @media (min-width: 700px) {
      #landing-mobile .create-account h5 {
        font-size: 22px; }
        #landing-mobile .create-account h5 span {
          font-size: 22px; } }
    @media (min-width: 1000px) {
      #landing-mobile .create-account {
        display: none; } }
  #landing-mobile nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 30px;
    background: #FF8103;
    z-index: 999; }
    #landing-mobile nav ul {
      list-style: none;
      padding: 0;
      display: flex;
      margin: 0;
      justify-content: flex-end; }
      #landing-mobile nav ul li {
        color: white;
        padding: 0 20px;
        text-transform: uppercase;
        font-weight: 400;
        text-decoration: underline; }
  #landing-mobile .contenedor {
    padding: 20px; }
    @media (min-width: 1000px) {
      #landing-mobile .contenedor {
        padding-right: 380px; } }
  #landing-mobile .landing-header {
    padding: 10px 0;
    position: relative; }
    #landing-mobile .landing-header .back {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
      #landing-mobile .landing-header .back div {
        width: 100%;
        height: 100%;
        animation-name: slide;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        position: absolute;
        top: 0;
        background-size: cover;
        top: 0;
        left: 0; }
        #landing-mobile .landing-header .back div.b1 {
          background-image: url("../img/b1.jpg");
          background-position: left; }
        #landing-mobile .landing-header .back div.b2 {
          background-image: url("../img/b2.jpg");
          background-position: left;
          animation-delay: 1600ms; }
        #landing-mobile .landing-header .back div.b3 {
          background-image: url("../img/b3.jpg");
          background-position: left;
          animation-delay: 3200ms; }
        #landing-mobile .landing-header .back div.b4 {
          background-image: url("../img/b4.jpg");
          background-position: center;
          animation-delay: 4800ms; }
        #landing-mobile .landing-header .back div.b5 {
          background-image: url("../img/b5.jpg");
          animation-delay: 6000ms; }
        #landing-mobile .landing-header .back div.b6 {
          background-image: url("../img/b6.jpg");
          background-position: right;
          animation-delay: 7200ms; }
@keyframes slide {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  80% {
    opacity: 1; }
  100% {
    opacity: 0; } }
    #landing-mobile .landing-header .logo {
      text-align: center;
      position: relative;
      z-index: 999; }
      #landing-mobile .landing-header .logo img {
        max-width: 120px; }
    #landing-mobile .landing-header h1, #landing-mobile .landing-header h2 {
      color: white;
      z-index: 999; }
    #landing-mobile .landing-header h1 {
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 400;
      text-align: center;
      position: relative; }
      #landing-mobile .landing-header h1 strong {
        font-weight: 700;
        font-size: 26px; }
    @media (min-width: 768px) {
      #landing-mobile .landing-header {
        padding: 50px 0; }
        #landing-mobile .landing-header h1 {
          font-size: 30px;
          margin-bottom: 50px; }
          #landing-mobile .landing-header h1 strong {
            font-size: 36px; }
        #landing-mobile .landing-header .logo img {
          min-width: 150px; } }
    @media (min-width: 1000px) {
      #landing-mobile .landing-header h1 {
        font-size: 40px; }
        #landing-mobile .landing-header h1 strong {
          font-size: 46px; }
      #landing-mobile .landing-header .logo img {
        min-width: 180px; } }
  #landing-mobile #buscador {
    text-align: center; }
    #landing-mobile #buscador h2 {
      color: white;
      font-size: 18px;
      text-transform: uppercase;
      margin-bottom: 20px; }
    #landing-mobile #buscador h5, #landing-mobile #buscador h6 {
      display: block;
      font-size: 16px;
      font-family: "Roboto";
      color: white;
      font-weight: 400; }
    #landing-mobile #buscador h6 {
      font-size: 14px; }
    #landing-mobile #buscador .buscador {
      display: flex;
      margin-bottom: 15px; }
      #landing-mobile #buscador .buscador input {
        border: none;
        border-radius: 0;
        background: white;
        box-shadow: none; }
        #landing-mobile #buscador .buscador input[type="submit"] {
          background: #007DA7;
          color: white; }
    @media (min-width: 768px) {
      #landing-mobile #buscador h2 {
        color: white;
        font-size: 22px;
        text-transform: uppercase;
        margin-bottom: 20px; }
      #landing-mobile #buscador h5, #landing-mobile #buscador h6 {
        display: block;
        font-size: 18px;
        font-family: "Roboto";
        color: white;
        font-weight: 400; }
      #landing-mobile #buscador h6 {
        font-size: 16px; }
      #landing-mobile #buscador input {
        border: none;
        border-radius: 0;
        background: white;
        box-shadow: none;
        max-width: 400px; }
        #landing-mobile #buscador input[type="submit"] {
          background: #007DA7;
          color: white; } }
  #landing-mobile .datos {
    text-align: center; }
    #landing-mobile .datos h2 {
      font-size: 16px;
      text-transform: uppercase;
      margin-bottom: 20px; }
    #landing-mobile .datos .empresas {
      padding: 0;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap; }
      #landing-mobile .datos .empresas li {
        flex: 1;
        max-width: 140px;
        min-width: 140px;
        padding: 0 5px;
        max-height: 60px;
        margin-bottom: 20px; }
    @media (min-width: 1000px) {
      #landing-mobile .datos h2 {
        font-size: 23px; }
      #landing-mobile .datos .empresas li {
        max-width: 150px;
        min-width: 150px; } }
  #landing-mobile .como-funciona {
    text-align: center; }
    #landing-mobile .como-funciona h2 {
      color: white;
      font-size: 18px;
      text-transform: uppercase;
      margin-bottom: 20px; }
    #landing-mobile .como-funciona .descripcion {
      color: white;
      text-align: left;
      font-size: 14px;
      line-height: 20px;
      font-weight: 300; }
      #landing-mobile .como-funciona .descripcion strong {
        font-weight: 700; }
    @media (min-width: 1000px) {
      #landing-mobile .como-funciona {
        padding: 40px 0; }
        #landing-mobile .como-funciona .columnas {
          display: flex;
          margin: 0 -15px; }
          #landing-mobile .como-funciona .columnas > div {
            flex: 1;
            padding: 0 15px; }
        #landing-mobile .como-funciona h2 {
          font-size: 22px;
          color: #01A8E9;
          text-align: left;
          margin-top: 0;
          margin-bottom: 15px; }
        #landing-mobile .como-funciona .descripcion {
          font-size: 15px;
          line-height: 30px;
          font-weight: 300; }
          #landing-mobile .como-funciona .descripcion strong {
            font-weight: 700; } }
  #landing-mobile #ofertas-por-area .categorias {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap; }
    #landing-mobile #ofertas-por-area .categorias li {
      flex: 1;
      min-width: 300px; }
    #landing-mobile #ofertas-por-area .categorias h2 {
      font-size: 16px;
      font-weight: 300;
      margin: 5px;
      color: #333; }
      #landing-mobile #ofertas-por-area .categorias h2 small {
        font-size: 11px;
        color: white;
        background: #FF8103;
        display: inline-block;
        padding: 3px 5px;
        border-radius: 3px;
        margin-left: 5px; }
  #landing-mobile #ofertas-por-area .see-all h2 {
    color: #01A8E9;
    text-decoration: underline; }
  @media (min-width: 1000px) {
    #landing-mobile #ofertas-por-area .categorias li {
      min-width: 33%; } }
  #landing-mobile .solo-mobile {
    display: block; }
    @media (min-width: 1000px) {
      #landing-mobile .solo-mobile {
        display: none; } }
  #landing-mobile .solo-web {
    display: none; }
    @media (min-width: 1000px) {
      #landing-mobile .solo-web {
        display: block; } }

#crear-perfil {
  padding-top: 40px; }
  #crear-perfil .contenedor {
    max-width: 600px;
    margin: auto; }
  #crear-perfil .logo {
    max-width: 100px;
    margin: auto; }
  #crear-perfil .bienvenida h2 {
    font-family: "Rubik";
    color: #007DA7;
    font-size: 22px;
    text-align: center; }
  #crear-perfil .bienvenida h3 {
    text-align: center;
    font-family: "Rubik";
    color: #FF8103;
    font-size: 18px;
    margin-top: 0; }
  #crear-perfil .bienvenida p {
    max-width: 400px;
    text-align: center;
    margin: auto; }
  #crear-perfil .actions {
    margin-top: 40px;
    text-align: center; }
    #crear-perfil .actions h4 {
      font-family: "Rubik";
      color: #3b4858;
      text-align: center;
      font-weight: 700; }
    #crear-perfil .actions .botones {
      display: flex;
      margin-top: 30px; }
      #crear-perfil .actions .botones article {
        flex: 1;
        padding: 10px 20px;
        margin: 0 20px;
        border: 1px solid #ccc;
        border-radius: 3px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        transition: 1s; }
        #crear-perfil .actions .botones article img {
          margin: auto; }
        #crear-perfil .actions .botones article h2 {
          text-align: center;
          font-family: "Rubik";
          text-transform: uppercase;
          font-size: 18px; }
        #crear-perfil .actions .botones article:hover {
          transform: translateY(5px);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5); }
      @media (max-width: 500px) {
        #crear-perfil .actions .botones {
          flex-direction: column-reverse; }
          #crear-perfil .actions .botones article {
            display: flex;
            margin-bottom: 20px;
            padding: 10px; }
            #crear-perfil .actions .botones article .img {
              min-width: 80px;
              max-width: 120px;
              margin-right: 20px; }
            #crear-perfil .actions .botones article h2, #crear-perfil .actions .botones article p {
              text-align: left;
              margin: 0; } }

#wizard {
  font-family: "Rubik";
  color: #3b4858;
  background: rgba(212, 219, 236, 0.4);
  padding-bottom: 100px; }
  #wizard h1 {
    letter-spacing: -1px;
    font-size: 28px; }
  #wizard h2 {
    font-weight: 400;
    color: #007DA7;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 30px; }
    #wizard h2.error {
      color: #D0021B; }
  #wizard .btn-link {
    text-decoration: underline; }
  #wizard section {
    border-top: 15px solid rgba(212, 219, 236, 0.4);
    border-bottom: 15px solid rgba(212, 219, 236, 0.4);
    padding: 30px; }
    @media (max-width: 400px) {
      #wizard section {
        padding: 30px 15px; } }

#wizard-intro {
  display: flex;
  color: white;
  font-family: "Rubik";
  justify-content: center;
  align-items: center;
  padding: 10px; }
  #wizard-intro .imagen {
    width: 90px;
    margin: 10px; }
  #wizard-intro .texto {
    max-width: 400px; }

#wizard-main {
  margin-top: 30px;
  max-width: 600px;
  background: white;
  margin: auto; }

.form-element {
  display: flex;
  margin: 10px 0 30px 0;
  align-items: center; }
  .form-element .status {
    margin-right: 10px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .form-element .control {
    flex: 1; }
    .form-element .control label {
      font-weight: 300;
      font-size: 13px;
      display: block;
      color: #777; }
    .form-element .control input {
      display: block;
      border: none;
      width: 100%;
      border-bottom: 1px solid #ddd;
      font-size: 15px;
      font-weight: 300;
      margin: 10px 0 3px 0;
      border-radius: 0; }
      .form-element .control input:focus {
        outline: none;
        border-color: #01A8E9; }
  .form-element.ok .control label {
    color: #7ED321; }
  .form-element.ok .control input {
    border-bottom-color: #7ED321; }
  .form-element.ok .status {
    background: #7ED321; }
  .form-element.error .control label {
    color: #D0021B; }
  .form-element.error .control input {
    border-bottom-color: #D0021B; }
  .form-element.error .control p {
    color: #D0021B; }
  .form-element.error .status {
    background: url("") #D0021B; }
  .form-element.waiting .status {
    background: #e0e0e0; }
    .form-element.waiting .status .point {
      width: 3px;
      height: 3px;
      margin-right: 1px;
      background: #9D9D9D;
      border-radius: 50%; }
      .form-element.waiting .status .point:last-child {
        margin-right: 0; }
  .form-element.waiting.active .status {
    background: #01A8E9; }
    .form-element.waiting.active .status .point {
      background: white;
      animation-name: waiting;
      animation-duration: 1200ms;
      animation-iteration-count: infinite; }
      .form-element.waiting.active .status .point:nth-child(2) {
        animation-delay: 400ms; }
      .form-element.waiting.active .status .point:last-child {
        animation-delay: 800ms; }

@keyframes waiting {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
#data-basica {
  text-align: center;
  border-top: 30px solid rgba(212, 219, 236, 0.4); }
  #data-basica .foto {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background: #01A8E9;
    margin: auto;
    position: relative; }
    #data-basica .foto img.placeholder {
      position: absolute;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
      left: 50%; }
    #data-basica .foto .pict-act {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.8);
      border: 1px solid #888;
      position: absolute;
      bottom: 10px;
      display: flex;
      justify-content: center;
      align-items: center; }
      #data-basica .foto .pict-act.change {
        left: 0; }
      #data-basica .foto .pict-act.delete {
        right: 0; }

.empty-data {
  display: flex; }
  .empty-data .imagen {
    margin-right: 15px; }
  .empty-data h2 {
    margin-top: 0;
    margin-bottom: 10px !important; }
  @media (max-width: 600px) {
    .empty-data .btn-link {
      display: block;
      padding: 0;
      margin: 15px 0;
      width: 0; } }

#data-education .data-container, #data-experiencia .data-container {
  border-bottom: 10px solid rgba(212, 219, 236, 0.4);
  margin-bottom: 20px;
  padding-bottom: 10px; }
  #data-education .data-container .form-element, #data-experiencia .data-container .form-element {
    margin-bottom: 10px; }

.well {
  background: white;
  border-radius: 3px;
  padding: 0 0 15px 0; }
  .well .well-wrapper {
    padding: 10px; }
  .well .well-title {
    background: #01A8E9;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .well .well-title h3 {
      margin: 0;
      font-size: 15px;
      text-transform: uppercase;
      color: white;
      font-weight: 300; }
    .well .well-title span {
      border: 1px solid white;
      color: white;
      padding: 4px;
      font-size: 12px; }
  .well .mensaje-datos {
    display: block;
    font-weight: 300;
    text-align: center;
    color: #666;
    padding: 5px; }

#ayuda-wrapper {
  position: fixed;
  bottom: 0;
  width: 100%; }
  #ayuda-wrapper .ayuda {
    max-width: 400px;
    margin: auto;
    display: flex;
    align-items: flex-end; }
    #ayuda-wrapper .ayuda .imagen {
      margin-right: 15px; }
    #ayuda-wrapper .ayuda .texto p {
      background: #FFD15C;
      padding: 10px;
      position: relative;
      font-size: 13px; }
      #ayuda-wrapper .ayuda .texto p:before {
        content: "";
        background: #FFD15C;
        width: 10px;
        height: 10px;
        background: #FFD15C;
        position: absolute;
        top: 50%;
        transform: translateX(-50%) rotate(45deg);
        left: 0px; }
    #ayuda-wrapper .ayuda.ok p {
      background: #7ED321;
      color: white; }
      #ayuda-wrapper .ayuda.ok p:before {
        background: #7ED321; }
    #ayuda-wrapper .ayuda.error p {
      background: #D0021B;
      color: white; }
      #ayuda-wrapper .ayuda.error p:before {
        background: #D0021B; }

div.shared-space {
  display: flex;
  width: 100%; }
  div.shared-space > div {
    flex: 1; }
    div.shared-space > div:first-child {
      margin-right: 10px; }
    div.shared-space > div:last-child {
      margin-left: 10px; }

.error-txt {
  color: red; }

.data .bubble {
  border: 1px solid #888;
  border-radius: 50px;
  margin-right: 10px;
  padding: 10px; }

/*# sourceMappingURL=style.css.map */
