@import "vars";
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Rubik:300,400,500,700');
@import "landing";
//vars

body{
	
}

//--------------

#wizard{
	font-family: $title-font;
	color: $text-color;
	background: rgba(212,219,236,0.40);
	padding-bottom: 100px;
	h1{
		letter-spacing: -1px;
		font-size: 28px;
	}

	h2{
		font-weight: 400;
		color: $color2;
		font-size: 20px;
		text-transform: uppercase;
		margin-bottom: 30px;
		&.error{
			color: $rojo;
		}
	}

	.btn-link{
		text-decoration: underline;
	}

	section{
		border-top: 15px solid rgba(212,219,236,0.40);
		border-bottom: 15px solid rgba(212,219,236,0.40);
		padding: 30px;
		@media (max-width: 400px){
			padding: 30px 15px;
		}
	}
}


#wizard-intro{
	@extend .gradient-blue;
	display: flex;
	color: white;
	font-family: $title-font;
	justify-content: center;
	align-items: center;
	padding: 10px;
	.imagen{
		width: 90px;
		margin: 10px;
	}
	.texto{
		max-width: 400px;
	}
}

#wizard-main{
	margin-top: 30px;
	max-width: 600px;
	background: white;
	margin: auto;
}

.form-element{
	display: flex;
	margin: 10px 0 30px 0;
	align-items: center;
	
	.status{
		margin-right: 10px;
		border-radius: 50%;
		height: 20px;
		width: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
	
	}

	.control{
		flex: 1;
		label{
			font-weight: 300;
			font-size: 13px;
			display: block;
			color: #777;
		}

		input{
			display: block;
			border: none;
			width: 100%;
			border-bottom: 1px solid #ddd;
			font-size: 15px;
			font-weight: 300;
			margin: 10px 0 3px 0;
			border-radius: 0;
			&:focus{
				outline: none;
				border-color: $color3;
			}
		}


	}

	&.ok{
		.control{
			label{
				color: $verde;
			}
			input{
				border-bottom-color: $verde;
			}
		}

		.status{
			background: $verde;
		}
	}

	&.error{
		.control{
			label{
				color: $rojo;
			}
			input{
				border-bottom-color: $rojo;
			}
			p{
				color: $rojo;
			}
		}

		.status{
			background: url("") $rojo;
		}
	}


	&.waiting{
		.status{
			background: $color7;
			.point{
				width: 3px;
				height: 3px;
				margin-right: 1px;
				background: $color6;
				border-radius: 50%;
				&:last-child{
					margin-right: 0;
				}
			}
		}

		&.active{
			.status{
				background: $color3;
			
				.point{
					background: white;
					animation-name: waiting;
					animation-duration: 1200ms;
					animation-iteration-count: infinite;
					&:nth-child(2){
						animation-delay:400ms;
					}
					&:last-child{
						animation-delay:800ms;
					}
				}
			}
		}
	}
}

 @keyframes waiting{
 	0%{
 		transform:scale(1);
 	}
 	
 
 	50%{
 		transform: scale(0);
 	}


 	100%{
 		transform:scale(1);
 	}
 }

#data-basica{
	text-align: center;
	border-top: 30px solid rgba(212,219,236,0.40);
	.foto{
		width: 125px;
		height: 125px;
		border-radius: 50%;
		background: $color3;
		margin: auto;
		position: relative;
		img.placeholder{
			position: absolute;
		    top: 50%;
		    transform: translateY(-50%) translateX(-50%);
		    left: 50%;

		}

		.pict-act{
			width: 30px;
			height: 30px;
			border-radius: 50%;
			background: rgba(255,255,255,0.8);
			border: 1px solid #888;
			position: absolute;
			bottom: 10px;
			display: flex;
			justify-content: center;
			align-items: center;
			&.change{
				left: 0;
			}

			&.delete{
				right: 0;
			}
		}
	}
}



.empty-data{
	display: flex;
	.imagen{
		margin-right: 15px;
	}

	h2{
		margin-top: 0;
		margin-bottom: 10px !important;
	}

	.btn-link{
		@media (max-width: 600px){
			display: block;
			padding: 0;
			margin: 15px 0;
			width: 0;
		}
	}
}


#data-education, #data-experiencia{
	.data-container{
		border-bottom: 10px solid rgba(212,219,236,0.40);
		margin-bottom: 20px;
		padding-bottom: 10px;
		.form-element{
			margin-bottom: 10px;
		}
	}
}


.well{
	background: white;
	border-radius: 3px;
	padding: 0 0 15px 0;
	.well-wrapper{
		padding: 10px;
	}
	.well-title{
		background: $color3;
		padding: 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		h3{
			margin: 0;
			font-size: 15px;
			text-transform: uppercase;
			color: white;
			font-weight: 300;
		}

		span{
			border: 1px solid white;
			color: white;
			padding: 4px;
			font-size: 12px;
		}
	}

	.mensaje-datos{
		display: block;
		font-weight: 300;
		text-align: center;
		color: #666;
		padding: 5px;
	}
	.btn-primary{
		
	}	
}

#ayuda-wrapper{
	position: fixed;
	bottom: 0;
	width: 100%;
		.ayuda{
		max-width: 400px;
		margin: auto;
		display: flex;
		align-items: flex-end;
		.imagen{
			margin-right: 15px;
		}
		.texto{
			p{
				background: $amarillo;
				padding: 10px;
				position: relative;
				font-size: 13px;
				&:before{
					content:"";
					background: $amarillo;
				    width: 10px;
				    height: 10px;
				    background: #FFD15C;
				    position: absolute;
				    top: 50%;
				    transform: translateX(-50%) rotate(45deg);
				    left: 0px;
				}
			}
		}
		
		&.ok{
			p{
				background: $verde;
				color: white;
				&:before{
					background: $verde;
				}
			}
		}

		&.error{
			p{
				background: $rojo;
				color: white;
				&:before{
					background: $rojo;
				}
			}
		}
	}
}


div.shared-space{
	display: flex;
	width: 100%;
	&>div{
		flex: 1;

		&:first-child{
			margin-right: 10px;
		}
		&:last-child{
			margin-left: 10px;
		}
	}
}


.error-txt{
	color: red;
}

.data{
	.bubble{
		border: 1px solid #888;
		border-radius: 50px;
		margin-right: 10px;
		padding: 10px;
	}
}