@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700|Rubik:300,400,500,700');

//vars
$main-color: #FF8103;
$color2: #007DA7;
$color3: #01A8E9;
$color4: #094074;
$color5: #EC0821;
$color6: #9D9D9D;
$color7: #e0e0e0;
$color8: #f2f2f2;
$amarillo: #FFD15C;
$verde: #7ED321;
$rojo: #D0021B;

.gradient-orange{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff9900+0,ec4e21+100 */
	background: rgb(255,153,0); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(255,153,0,1) 0%, rgba(236,78,33,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(255,153,0,1) 0%,rgba(236,78,33,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(255,153,0,1) 0%,rgba(236,78,33,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9900', endColorstr='#ec4e21',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.gradient-blue{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3c6997+0,094074+100 */
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#007da7+0,094074+100 */
	background: rgb(0,125,167); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(0,125,167,1) 0%, rgba(9,64,116,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(0,125,167,1) 0%,rgba(9,64,116,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(0,125,167,1) 0%,rgba(9,64,116,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007da7', endColorstr='#094074',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


.gradient-gray{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#555555+0,222222+100 */
	background: rgb(85,85,85); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(85,85,85,1) 0%, rgba(34,34,34,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(85,85,85,1) 0%,rgba(34,34,34,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(85,85,85,1) 0%,rgba(34,34,34,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555555', endColorstr='#222222',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

$gray: #9D9D9D;


$text-color: #3b4858;
$title-font: "Rubik";
$text-font: "Roboto";

$facebook: #3b5998;
$linkedin: #007bb5;
$google: #dd4b39;



body{
	
}

//--------------

#wizard{
	font-family: $title-font;
	color: $text-color;
	background: rgba(212,219,236,0.40);
	padding-bottom: 100px;
	h1{
		letter-spacing: -1px;
		font-size: 28px;
	}

	h2{
		font-weight: 400;
		color: $color2;
		font-size: 20px;
		text-transform: uppercase;
		margin-bottom: 30px;
	}

	.btn-link{
		text-decoration: underline;
	}
}


#wizard-intro{
	@extend .gradient-blue;
	display: flex;
	color: white;
	font-family: $title-font;
	justify-content: center;
	align-items: center;
	padding: 10px;
	.imagen{
		width: 90px;
		margin: 10px;
	}
	.texto{
		max-width: 400px;
	}
}

#wizard-main{
	margin-top: 30px;
	max-width: 600px;
	background: white;
	margin: auto;
}

.form-element{
	display: flex;
	margin: 10px 0 30px 0;
	align-items: center;
	.status{
		margin-right: 10px;
		width: 25px;
	}

	.control{
		flex: 1;
		label{
			font-weight: 300;
			font-size: 15px;
			display: block;
			color: #777;
		}

		input{
			display: block;
			border: none;
			width: 100%;
			border-bottom: 1px solid #ddd;
			font-size: 15px;
			font-weight: 300;
			margin: 10px 0;
			border-radius: 0;
			&:focus{
				outline: none;
				border-color: $color3;
			}
		}
	}
}


section{
	border-top: 15px solid rgba(212,219,236,0.40);
	border-bottom: 15px solid rgba(212,219,236,0.40);
	padding: 30px;
}

#data-basica{
	text-align: center;
	border-top: 30px solid rgba(212,219,236,0.40);
	.foto{
		width: 125px;
		height: 125px;
		border-radius: 50%;
		background: $color3;
		margin: auto;
		position: relative;
		img{
			position: absolute;
		    top: 50%;
		    transform: translateY(-50%) translateX(-50%);
		    left: 50%;

		}
	}
}



.empty-data{
	display: flex;
	.imagen{
		margin-right: 15px;
	}

	h2{
		margin-top: 0;
		margin-bottom: 10px !important;
	}

	.btn-link{
		@media (max-width: 600px){
			display: block;
			padding: 0;
			margin: 15px 0;
			width: 0;
		}
	}
}


#data-education, #data-experiencia{
	.data-container{
		border-bottom: 10px solid rgba(212,219,236,0.40);
		margin-bottom: 20px;
	}
}


.well{
	background: white;
	border-radius: 3px;
	padding: 0;
	.well-wrapper{
		padding: 10px;
	}
	.well-title{
		background: $color2;
		padding: 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		h3{
			margin: 0;
			font-size: 15px;
			text-transform: uppercase;
			color: white;
			font-weight: 300;
		}

		span{
			border: 1px solid white;
			color: white;
			padding: 5px;
		}
	}

	.errores{
		display: block;
		font-weight: 300;
		text-align: center;
		color: $rojo;
		padding: 5px;
	}
	.btn-primary{
		border-radius: 0;
		border: none;
		padding: 10px 0;
	}	
}

#ayuda-wrapper{
	position: fixed;
	bottom: 0;
	width: 100%;
		.ayuda{
		max-width: 400px;
		margin: auto;
		display: flex;
		align-items: flex-end;
		.imagen{
			margin-right: 15px;
		}
		.texto{
			p{
				background: $amarillo;
				padding: 10px;
				position: relative;
				font-size: 13px;
				&:before{
					content:"";
					background: $amarillo;
				    width: 10px;
				    height: 10px;
				    background: #FFD15C;
				    position: absolute;
				    top: 50%;
				    transform: translateX(-50%) rotate(45deg);
				    left: 0px;
				}
			}
		}
		
		&.ok{
			p{
				background: $verde;
				color: white;
				&:before{
					background: $verde;
				}
			}
		}

		&.error{
			p{
				background: $rojo;
				color: white;
				&:before{
					background: $rojo;
				}
			}
		}
	}
}
